USERNAME=admin
PASSWORD=admin@123
TZ=Asia/Shanghai
AUTO_RELOAD=True
MYSQL_ROOT_PASSWORD=rootpass123
MYSQL_DATABASE=we_mp_rss
MYSQL_USER=rss_user
MYSQL_PASSWORD=pass123456
PROXY_ENABLED=False
PROXY_URL=socks5://<username>:<password>@p.webshare.io:80
WE_MPRSS_DATA_DIR=./data
WE_MPRSS_FRONTEND_NODE_IMAGE=m.daocloud.io/library/node:20-slim
WE_MPRSS_IMAGE=we-mp-rss:markitdown
WE_MPRSS_CONFIG_FILE=./we-mp-rss.config.yaml
WE_MPRSS_USERNAME=admin
WE_MPRSS_PASSWORD=admin@123
